body {
    height: 100%;
    margin: auto;
    padding: 0;
}

.title-bar {
    padding: 10px;
    text-align: center;
}
.company {
    color: rgb(54, 58, 66);
    font-size: 26px;
    white-space: nowrap;
}
.name {
    color: rgb(54, 58, 66);
    font-size: 16px;
    white-space: nowrap;
}

.option-bar {
    border-bottom: 1px solid darkgray;
    border-top: 1px solid darkgray;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    padding: 4px;
    white-space: nowrap;
}
.home-link {
    color: rgb(54, 58, 66);
    font-size: 14px;
    padding-right: 2em;
    text-decoration: none;
}
.home-link:hover {
    text-decoration: underline;
}
.aboutme-link {
    color: rgb(54, 58, 66);
    font-size: 14px;
    padding-right: 2em;
    text-decoration: none;
}
.aboutme-link:hover {
    text-decoration: underline;
}
.insurance-link {
    color: rgb(54, 58, 66);
    font-size: 14px;
    padding-right: 2em;
    text-decoration: none;
}
.insurance-link:hover {
    text-decoration: underline;
}
.contact-link {
    color: rgb(54, 58, 66);
    font-size: 14px;
    text-decoration: none;
}
.contact-link:hover {
    text-decoration: underline;
}

.quote-container {
    color:  rgb(54, 58, 66);
    position: relative;
}
.sunset-beach {
    display: block; /* to get  rid of extra space at bottom of image */
    width: 100%;
}
.image-quote {
    font-size: 16px;
    left: 55%;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 38%;
    transform: translate(-50%, -50%);
    width: 250px;
}
.image-quote-author {
    font-size: 12px;
    left: 25%;
    position: absolute;
    text-align: center;
    white-space: nowrap;
}

/* .contact-bar-mobile-container {
    display: block;
} */
.contact-bar-mobile {
    border-top: 1px solid darkgray;
    color: rgb(54, 58, 66);
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 8px;
    justify-content: center;
}
.email {
    padding-right: 1em;
}
.instagram-link {
    padding-left: 7px;
}
.instagram-img {
    padding-left: 4px;
}

/* .contact-bar-desktop-container {
    display: none; 
} */

.attribution {
    border-top: 1px solid darkgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    padding: 10px;
    text-align: center;
}
.heart {
    display:  inline-block;
    height: 10px;
    width: 10px;
}
.website-attribution {
    display:  inline-block;
}
.icon-attribution {
    display:  inline-block;
}

.about-me-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.joni-lamb-headshot {
    border-radius: 25%;
    flex: 1;
    height: auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    width: 20em;
} 
.about-me-text {
    color: rgb(54, 58, 66);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    width: 30em;
}

.ins-fees-text_container {
    display: flex;
    justify-content: center;
}
.ins-fees-text {
    color: rgb(54, 58, 66);
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    width: 50em;
}
.highlight {
    color: red;
}

.contact-text-container {
    display: flex;
    justify-content: center;
}
.contact-text {
    padding-bottom: .5em;
    padding-top: 1em;
    text-align: center;
    width: 40em;
}
.contact-info {
    white-space: nowrap;
}

@media only screen and (min-width: 501px) {
    .company {
        color: rgb(54, 58, 66);
        font-size: 34px;
        white-space: nowrap;
    }
    .name {
        color: rgb(54, 58, 66);
        font-size: 18px;
        white-space: nowrap;
    }
    
    .option-bar {
        border-bottom: 1px solid darkgray;
        border-top: 1px solid darkgray;
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
        justify-content: space-around;
        padding: 10px;
    }
    .home-link {
        color: rgb(54, 58, 66);
        font-size: 14px;
        padding-right: 5em;
        text-decoration: none;
    }
    .home-link:hover {
        text-decoration: underline;
    }
    .aboutme-link {
        color: rgb(54, 58, 66);
        font-size: 14px;
        padding-right: 5em;
        text-decoration: none;
    }
    .aboutme-link:hover {
        text-decoration: underline;
    }
    .insurance-link {
        color: rgb(54, 58, 66);
        font-size: 14px;
        padding-right: 5em;
        text-decoration: none;
    }
    .insurance-link:hover {
        text-decoration: underline;
    }
    .contact-link {
        color: rgb(54, 58, 66);
        font-size: 14px;
        text-decoration: none;
    }
    .contact-link:hover {
        text-decoration: underline;
    }
    
    .quote-container-desktop {
        color:  rgb(54, 58, 66);
        position: relative;
    }
    .sunset-beach-desktop {
        display: block; /* to get  rid of extra space at bottom of image */
        width: 100%;
    }
    .image-quote {
        font-size: 20px;
        left: 60%;
        padding: 16px;
        position: absolute;
        text-align: center;
        top: 40%;
        transform: translate(-50%, -50%);
        width: 400px;
    }
    .image-quote-author {
        font-size: 14px;
        left: 40%;
        position: absolute;
        text-align: center;
        white-space: nowrap;
    }

    .contact-bar-mobile {
        border-top: 1px solid darkgray;
        color: rgb(54, 58, 66);
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        padding: 8px;
        justify-content: center;
    }
    
    .attribution {
        border-top: 1px solid darkgray;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 9px;
        padding: 10px;
        text-align: center;
    }
    .heart {
        display:  inline-block;
        height: 10px;
        width: 10px;
    }
    .website-attribution {
        display:  inline-block;
    }
    .icon-attribution {
        display:  inline-block;
    }
    
    .about-me-page {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .joni-lamb-headshot {
        border-radius: 25%;
        height: auto;
        padding-top: 2em;
        width: 20em;
    } 
    .about-me-text {
        color: rgb(54, 58, 66);
        font-family: Arial, Helvetica, sans-serif;
        height: 30em;
        padding-left: 2em;
        padding-top: 1em;
        width: 40em;
    }
    
    .ins-fees-text_container {
        display: flex;
        justify-content: center;
        padding: 2em;
    }
    .ins-fees-text {
        color: rgb(54, 58, 66);
        font-family: Arial, Helvetica, sans-serif;
        width: 50em;
    }
    .highlight {
        color: red;
    }
    
    .contact-text-container {
        display: flex;
        justify-content: center;
    }
    .contact-text {
        padding: 1.5em;
        text-align: center;
        width: 40em;
    }